@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  .h{color: orange;}
  .a{color: blue;}
  .f{color: #05D4DF;}
  .ad{color: #5D58EF;}
  .btn1{
    padding: 10px 60px 10px 60px;
    font-size: 20px;
    font-weight: 600;
    background-color: orange;
    color: white;
    border-radius: 12px;
    border: 0;

  }

  .navbar{
    max-width: 1440px;
    margin:0 auto;
    align-items: center;
    justify-content: space-between;
  }

  .display-flex{display: flex;}

  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
  }
  .font1{color: orange;}
  .font2{ color: #01ACFD;}
  .btn2{
    padding: 10px 60px 10px 60px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(1, 4, 14);
    color: white;
    border-radius: 12px;
    border: 0;
  }

  .top{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    align-items: center;

  }
  .first{ margin-top: 50px;
  width: 640px;
  height: 330px;

  }
  .img{
    width: 100%;
  }
  
  .sec1{margin-top: 100px;
    background-image: url('assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .h1f{font-size: 56px;}


.ham { display: none; flex-direction: column; gap: 4px;
 }
.ham div { width: 20px; height: 5px; background-color: #141313;
 } 
.all1{
  margin-top: 50px;
  display: flex;
  gap: 30px;
  margin: 80px 120px 80px 200px;
  
}
.ss{
  justify-content: center;
  font-size: 45px;
}
.div1{
  background-color: white;
  padding: 20px; 
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(31, 31, 31, 0.1);
  max-width: 300px; 
  height: 475px;
  text-align: center;
  background: linear-gradient(#6eb4ff, white);
}
.div2{
  background-color: white;
  padding: 20px; 
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(31, 31, 31, 0.1);
  max-width: 300px; 
  height: 475px;
  text-align: center;
  background: linear-gradient(#ffe481, white);
}
.div3{
  background-color: white;
  padding: 20px; border-radius: 18px;
  box-shadow: 0 4px 8px rgba(31, 31, 31, 0.1);
  max-width: 300px; 
  height: 475px;
  text-align: center;
  background: linear-gradient(#e69bfa, white);
}
.l1{
  text-decoration: none;
  color: rgb(9, 125, 171);
 font-weight: 600;

}
.l2{
  text-decoration: none;
  color: rgb(255, 136, 1);
 font-weight: 600;

}
.l3{
  text-decoration: none;
  color: rgb(206, 5, 246);
 font-weight: 600;

}
.btn-all{
  display: flex;
  gap: 8px;
  justify-content: center;
}
.arrow {
  width: 65px;
  height:65px;
  background-color: orange;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav-button .arrow { color: white; font-size: 24px}
.s2{margin-top: 40px;
  background-image: url('assets/bg.png'), linear-gradient(to top, #f3cf8e, white);
  background-size: cover;
  background-repeat: no-repeat;
  
}

.hh{justify-content: center;
  font-size: 46px;}
  .total{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
  .all-story{
    max-width: 540px;
    height: 680px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin: 25px 0 25px 0;


  }
  .arrow:hover{background-color: #5D58EF;}
  .story1{
    margin: 25px 0 25px 0;
    border-radius: 16px;
    max-width: 540px;
    height: 630px;
    overflow: hidden;
   position: relative;
   background-color: white;
   align-items: center;
   text-align: center;
   
  }
.stories{
  margin: 25px 0 25px 0;
  border-radius: 16px;
  max-width: 290px;
  height: 300px;
  overflow: hidden;
 position: relative;
 background-color: white;
 align-items: center;
 text-align: center;

}

.date1{
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 310px;
  left: 10px;
  width: 175px;
  height: 50px;
  background-color: #3CD8E8;
  border-radius: 50px;
  text-align: center;
  color: white;
  font-weight: 500;
}
.date2{
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 5%;
  width: 175px;
  height: 50px;
  background-color: #2f7405;
  border-radius: 50px;
  text-align: center;
  color: white;
  font-weight: 500;

}
.date3{
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 5%;
  width: 175px;
  height: 50px;
  background-color: #9209e1;
  border-radius: 50px;
  text-align: center;
  color: white;
  font-weight: 500;
  
}
.sd{
  display: flex;
  justify-content: center;
  width: 100%;

}
.d1{color: white;}
.all2{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: left;
}
footer{

  background-color: #01ACFD;
  color: white;
}


@media screen and (max-width: 576px) 
{ .navbar{border-bottom: solid orange}
  .navlink 
  { display: none; } 
  .btn1 { display: none; }
  .ham { display: flex; }
  .top{flex-direction: column-reverse;
  max-width: 100%;}
  .first{
    width:100%;
    text-align: center;
    margin: 0;
  }
  .img{width: 100%;}
  .btn-all{display: none;}
  .all1{
    flex-direction: column;
     align-items: center;
    width: 100%;
  text-align: center;
   margin: 0 auto;}

    .ss{text-align: center;}
    .story1 {display: none;}
  .all-story { grid-template-columns: repeat(2,1fr);
  }
  .sd{justify-items: center;}
  .all2{
    margin-left: 10px;
    grid-template-columns: 1fr;
    text-align: left;
  }
  body{
    width:100%;
    overflow-x:hidden;
  }

 }

 